html {
  color-scheme: light dark;
  font-family: system-ui;
}

body {
  margin: 0;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  > * {
    padding: 1em;
  }
}

header {
  text-align: center;
  border-block-end: 1px solid;
}

main {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;

  fieldset {
    width: 100%;
    padding-top: 1.5em;

    legend {
      font-weight: bold;
    }
  }

  label {
    display: block;
    margin-bottom: 1em;

    span {
      display: inline-block;
      min-width: 10ch;
    }
  }

  input[type=text], textarea {
    width: calc(100% - 15ch);
  }
}

footer {
  border-block-start: 1px solid;
}
